:root {
    --botton-background: linear-gradient(195.31deg, rgba(7, 164, 63, 0.3) 10.74%, rgba(2, 167, 60, 0) 129.38%), radial-gradient(45.13% 114.16% at -12.37% 68%, #FFF500 0.01%, rgba(29, 201, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(72.39% 183.12% at 105.15% 119.44%, #00A3FF 0%, #ADFF00 0.01%, rgba(29, 201, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(70.62% 178.64% at 89.34% 3.76%, #00A3FF 0%, rgba(29, 201, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #1DB954;
    --input-background-color: #606060;
    --input-font-color: #dcdcdc;
    --main-color: #f0f0f0;
    --main-font-color: #333;
    --main-font-size: 16px;
    --main-font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*    渐变数据组*/
    --1: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    --2: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    --3: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    --4: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    --5: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    --6: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    --7: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    --8: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    --9: linear-gradient(135deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    --10: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    --11: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    --12: linear-gradient(135deg, #74EBD5 0%, #9FACE6 100%);
}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
/*body,html最大化填满窗口*/
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#input {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    padding: 20px;
    background-color: var(--input-background-color);
    color: var(--input-font-color);
}
#show {
    display: flex;

    /*靠左对其*/
    justify-content: flex-start;
    align-items: flex-start;

    background: inherit;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#show ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: none;
    padding: 20px;
    margin: 0;
    width: 100%;
    /*gap间距15px*/
    gap: 15px;

}
#show, #show ul {
    /*    超出部分不隐藏*/
    overflow: visible;
}

#show li {
    display: flex;
    /*竖排靠左对齐*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*宽度最大350px，弹性适应*/
    /*max-width: 500px;*/
    border: none;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 15px;
}
/*宽度大于1024px时*/
@media screen and (min-width: 1024px) {
    #show li {
        /*ul 每行固定4个li，自动换行*/
        flex: 0 0 calc(100% / 4 - 15px);
    }
}
/*宽度小于1024px时*/
@media screen and (max-width: 1024px) {
    #show li {
        /*ul 每行固定3个li，自动换行*/
        flex: 0 0 calc(100% / 3 - 15px);
    }
}
/*宽度小于860px时*/
@media screen and (max-width: 860px) {
    #show li {
        /*ul 每行固定2个li，自动换行*/
        flex: 0 0 calc(100% / 2 - 15px);
    }
}
/*宽度小于750px时*/
@media screen and (max-width: 750px) {
    #show li {
        /*ul 每行固定1个li，自动换行*/
        flex: 0 0 100%;
    }
}
#show li:hover {
    /*指针变为手*/
    cursor: pointer;
/*    阴影*/
    box-shadow: 0px 24px 24px -10px rgba(0, 0, 0, 0.2);
/*    向上移动5px*/
    transform: translateY(-5px);
/*    过度动画0.35秒*/
    transition: all 0.35s;
}
#show li p, #show li pw {
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #fff;
/*    首字母大写，字体加粗*/
    text-transform: capitalize;
    font-weight: bold;
    line-height: 100%;
}
#show li div {
    color: #fff;
}

/*#sudu!*定义range轨道*! {*/
/*    width: 100%;*/
/*    height: 15px;*/
/*    background: #fff;*/
/*    border-radius: 10px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/
.fenge {
    color: #dcdcdc;
}
#settings {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 25px;
    position: relative;
    /* width: 100%; */
    background:none;
}
#start {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    color: #FFFFFF;
    background: var(--botton-background);
    background-blend-mode: luminosity, normal, normal, normal, normal;
    border-radius: 20px;
    border: none;
}
#settings p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /*不换行*/
    white-space: nowrap;

    text-transform: capitalize;
}
/*定义range滑块*/
#sudu {
    width: 200px;
    position: relative;
    /*z-index: 2;*/
}
@media screen and (max-width: 750px) {
    #settings {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }
    #sudu {
        margin: 10px 0 0 0;
        width: 100%;
    }
    #settings p {
        margin: 0;
        width: 100%;
    }
    .fenge {
        display: none;
    }
}
header {
    display: flex;
    /*左对齐*/
    justify-content: flex-start;
    /*垂直居中*/
    align-items: center;
    padding: 20px;
    gap: 25px;
    width: 100%;
    background:#ffffff;
/*    滚动式浮动在顶层*/
    position: sticky;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
}
header #logo {
    height: 32px;
}
header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /*不换行*/
    white-space: nowrap;

    text-transform: capitalize;
    color: #868686;
}
main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
}
footer {
    display: flex;
    /*左对齐*/
    justify-content: flex-start;
    /*垂直居中*/
    align-items: center;
    padding: 20px;
    gap: 25px;
    width: 100%;
    height: 60px;
    background:#ffffff;
/*    固定在底部*/
    position: fixed;
    bottom: 0;
    z-index: 2;
    box-sizing: border-box;
}
footer img {
    height: 24px;
    opacity: 0.5;
}
footer p, footer a {
    display: flex;
    /*左对齐*/
    justify-content: flex-start;
    /*垂直居中*/
    align-items: center;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /*不换行*/
    white-space: nowrap;

    text-transform: capitalize;
    color: #868686;
}
footer p a {
    text-decoration: none;
}
/*.switch 在header的最右边靠右对齐*/
header .switch {
    display: flex;
    /*右对齐*/
    justify-content: flex-end;
    /*垂直居中*/
    align-items: center;
    gap:10px;
    margin-left: auto;
}
/*input checkbox*/
.switch input {
    display: none;
}